:root {
  --logo-label-color: #4445eb;
  --sign-in-btn-color: #377dff;
}

body {
  width: 80%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .logo .logo-title {
  font-size: 32px;
  font-weight: bold;
}

header .logo .logo-label {
  color: var(--logo-label-color);
  font-size: 12px;
  border: 1px solid var(--logo-label-color);
  padding: 3px 4px;
  border-radius: 4px;
}

header .header-center {
  display: flex;
  gap: 50px;
  font-size: 18px;
}

header .header-center span:first-child {
  font-weight: bold;
}

header .header-center span {
  cursor: pointer;
}

header .sign-in-button span {
  border: 1px solid var(--sign-in-btn-color);
  color: var(--sign-in-btn-color);
  padding: 12px 50px;
  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.16px;
}
